setuptools
wheel
transformers
torch
langchain
langchain-community
chainlit
accelerate
sentence-transformers
llama-index 
llama-index-embeddings-ollama
llama-index-llms-ollama
python-dotenv
PyPDF2
faiss-cpu
chromadb
